@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'GmarketSansMedium', sans-serif;
  margin: 0 auto;
  width: 100%;
  max-width: 480px;
}
.logo {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: #ffd045;
}
.logo_image {
  width: 110px;
  margin-left: 20px;
}
