.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #fff39c;
}
.card {
  padding: 10px;
}
.goods {
  width: 200px;
}

.post {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 5px;
}
.people {
  display: flex;
}
.people_image {
  width: 30px;
}
.card {
  display: flex;
  background-color: antiquewhite;
}
